{
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/_changelog.md"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "sed -i 's/0.0.0/${nextRelease.version}/g' composer.json"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "docs/_changelog.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "/tmp/release.zip",
            "name": "wp-plugin-installer-${nextRelease.version}.zip",
            "label": "Version ${nextRelease.version}"
          }
        ]
      }
    ]
  ]
}
