{
  "branches": [
    "master",
    {
      "name": "beta",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "zip -r '/tmp/release.zip' ./src README.md ./composer.json"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "/tmp/release.zip",
            "name": "wp-plugin-installer-v${nextRelease.version}.zip",
            "label": "WP Plugin Installer v${nextRelease.version}"
          }
        ]
      }
    ]
  ]
}
